.content-grid {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  overflow-x: hidden;
}

ion-col {
  flex: 1 1 0;
  min-width: 0;
}

.cita-card {
  width: 100%;
  max-width: 1000px;
  padding: 20px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  overflow-x: hidden;
}

/* Calendario centrado */
.calendar-container {
  width: 100%;
  height: auto;
  padding: 20px;
  box-sizing: border-box;
}

/* Inputs y selects full-width */
ion-input,
ion-select,
ion-datetime {
  width: 100%;
  margin-top: 10px;
}

/* Ajuste del calendario */
.datetime-picker {
  width: 100%;
  margin-top: 15px;
}

/* Columna derecha alineada */
.calendar-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* Searchbar centrado */
ion-searchbar {
  margin: 15px auto;
  width: 95%;
}

/* Ajustes del select desplegable para evitar que sobresalga */
ion-select::part(menu) {
  max-height: 250px;
  overflow-y: auto;
}

/* Responsive para pantallas pequeñas */
@media (max-width: 768px) {
  ion-row {
    flex-direction: column;
  }

  ion-col {
    width: 100%;
  }

  .calendar-column {
    align-items: stretch;
  }

  .cita-card {
    padding: 10px;
  }

  .resumen-cita-card {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
}
