/* header.component.scss */

/* --- Tus estilos normales de header --- */
.logo {
  width: 100%;
  max-height: 150px;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}
.left-col {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 50px;
}
.right-col {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 50px;
}
/* header.component.scss */

/* header.component.scss */




.titulo {
  font-size: 2rem !important;
  font-weight: bold !important;
  color: black !important;
}

/* …tus estilos normales para .logo, .user-button, .help-button, etc… */

/* ESTO YA SE APLICARÁ de verdad porque ahora no hay encapsulación */
.action-sheet-button.action-sheet-destructive {
  --background: #E53E3E;
  --color: #E53E3E;
  --ripple-color: rgba(255,255,255,0.2);
}
.action-sheet-button.action-sheet-cancel {
  --background: #E53E3E;
  --color: #E53E3E;
  --ripple-color: rgba(224, 144, 144, 0.616);
}
.action-sheet-button.action-sheet-admin {
  --background: var(--ion-color-primary);
  --color: #0a8829;
  --ripple-color: rgba(var(--ion-color-primary-rgb),0.2);
}
.action-sheet-button.action-sheet-home {
  --background: var(--ion-color-success);
  --color: #115ce7;
  --ripple-color: rgba(var(--ion-color-success-rgb),0.2);
}

