<ion-header collapse="fade">
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <!-- Usuario Conectado -->
        <ion-col size="2" class="left-col">
          <ion-buttons>
            <ion-button (click)="openUserMenu()">
              <ion-icon slot="start" name="person-circle"></ion-icon>
              {{ userEmail || 'Invitado' }}
            </ion-button>
          </ion-buttons>
        </ion-col>

        <!-- Logo y Título -->
        <ion-col size="8" class="ion-text-center">
          <img src="assets/logo/complete-logo.svg" alt="Logo" class="logo" />
          <h1 class="titulo">{{ titulo }}</h1>
        </ion-col>

        <!-- Ayuda -->
        <ion-col size="2" class="right-col">
          <ion-buttons>
            <ion-button>
              Ayuda
              <ion-icon slot="end" name="help-circle"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
