<ion-tabs>
  <ion-tab-bar slot="bottom" color="success">
    <ion-tab-button tab="inicio" href="/tabs/tab-inicio">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="gestion-citas" href="/tabs/tab-gestion-citas">
      <ion-icon aria-hidden="true" name="calendar"></ion-icon>
      <ion-label>Citas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="registro-cliente" href="/tabs/tab-registro-cliente">
      <ion-icon aria-hidden="true" name="person-add"></ion-icon>
      <ion-label>Clientes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="consultas" href="/tabs/tab-consultas">
      <ion-icon aria-hidden="true" name="search"></ion-icon>
      <ion-label>Consultas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="gestion-historial-medico" href="/tabs/tab-gestion-historial-medico">
      <ion-icon aria-hidden="true" name="bar-chart"></ion-icon>
      <ion-label>Historial Medico</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
