<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Añadir Mascota</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarPopover()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" scroll-y="true" fullscreen="true">
  <form [formGroup]="mascotaForm" class="scrollable-form">
    <ion-input label="Nombre" label-placement="floating" fill="outline" formControlName="nombre"></ion-input>
    <ion-input label="Especie" label-placement="floating" fill="outline" formControlName="especie"></ion-input>
    <ion-input label="Raza" label-placement="floating" fill="outline" formControlName="raza"></ion-input>
    <ion-input label="Edad" label-placement="floating" fill="outline" type="number" formControlName="edad"></ion-input>
    <ion-select label="Sexo" label-placement="floating" fill="outline" formControlName="sexo">
      <ion-select-option value="Macho">Macho</ion-select-option>
      <ion-select-option value="Hembra">Hembra</ion-select-option>
    </ion-select>
    <ion-input label="Color" label-placement="floating" fill="outline" formControlName="color"></ion-input>
    <ion-input label="Peso (kg)" label-placement="floating" fill="outline" type="number" formControlName="peso"></ion-input>
    <ion-textarea label="Observaciones" label-placement="floating" fill="outline" formControlName="observaciones"></ion-textarea>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons class="ion-justify-content-between">
      <ion-button expand="block" color="medium" (click)="cerrarPopover()">Cancelar</ion-button>
      <ion-button expand="block" color="success" (click)="guardarMascota()">Guardar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>


