<ion-header>
  <app-header titulo = "Inicio"></app-header>
</ion-header>

<ion-content class="ion-padding">
  <!--Primer Grid-->
    <ion-grid >
      <ion-row class="ion-padding">
        <ion-col size="6" size-md="4" size-lg="2">
          <ion-card>
            <ion-card-header class="card-header">
              <ion-card-title class="card-title">🐶 Mascota: Nina</ion-card-title>
              <ion-card-subtitle class="card-subtitle">👤 Dueño: Dan Anitei</ion-card-subtitle>
            </ion-card-header>
          
          
            <ion-card-content>
              <p><strong>📅 Fecha:</strong> 28 de Febrero, 2025</p>
              <p><strong>⏰ Hora:</strong> 10:30 AM</p>
              <p><strong>🩺 Tipo de consulta:</strong> Vacunación</p>
              <p><strong>📌 Estado:</strong> Confirmada ✅</p>
              <p><strong>📝 Notas:</strong> Llevar historial médico y evitar que coma 2 horas antes.</p>
            </ion-card-content>
          
            <!-- Botones alineados y centrados dentro del ion-card -->
            <div class="card-actions">
              <ion-button fill="solid" color="danger" class="card-button">Anular</ion-button>
              <ion-button fill="solid" color="warning" class="card-button">Ver más</ion-button>
              <ion-button fill="solid" color="success" class="card-button">Finalizada</ion-button>
            </div>
          </ion-card>
          
        </ion-col>
        <ion-col size="6" size-md="4" size-lg="2">
          <ion-card>
            <ion-card-header class="card-header">
              <ion-card-title class="card-title">🐶 Mascota: Bella</ion-card-title>
              <ion-card-subtitle class="card-subtitle">👤 Dueño: Florina Samoila</ion-card-subtitle>
            </ion-card-header>
          
          
            <ion-card-content>
              <p><strong>📅 Fecha:</strong> 28 de Febrero, 2025</p>
              <p><strong>⏰ Hora:</strong> 10:30 AM</p>
              <p><strong>🩺 Tipo de consulta:</strong> Psicología Felina</p>
              <p><strong>📌 Estado:</strong> Confirmada ✅</p>
              <p><strong>📝 Notas:</strong> Llevar historial médico y medicar.</p>
            </ion-card-content>
          
            <!-- Botones alineados y centrados dentro del ion-card -->
            <div class="card-actions">
              <ion-button fill="solid" color="danger" class="card-button">Anular</ion-button>
              <ion-button fill="solid" color="warning" class="card-button">Ver más</ion-button>
              <ion-button fill="solid" color="success" class="card-button">Finalizada</ion-button>
            </div>
          </ion-card>
        </ion-col>
        <ion-col size="6" size-md="4" size-lg="2">
          <ion-card>
            <ion-card-header class="card-header">
              <ion-card-title class="card-title">🐶 Mascota: Lola</ion-card-title>
              <ion-card-subtitle class="card-subtitle">👤 Dueño: Dan Anitei</ion-card-subtitle>
            </ion-card-header>
          
          
            <ion-card-content>
              <p><strong>📅 Fecha:</strong> 28 de Febrero, 2025</p>
              <p><strong>⏰ Hora:</strong> 10:30 AM</p>
              <p><strong>🩺 Consulta:</strong> Intervención Quirúrgica</p>
              <p><strong>📌 Estado:</strong> Confirmada ✅</p>
              <p class="notes">
                <strong>📝 Notas:</strong>
                <span>{{ longText | slice:0:50 }}...
                  <a id="ver-mas-trigger" class="see-more">Leer más</a>
                </span>
                
              </p>
            </ion-card-content>

            <!-- Popover que se activa al hacer clic en "Ver más" -->
              <ion-popover trigger="ver-mas-trigger" triggerAction="click">
                <ng-template>
                  <ion-content class="ion-padding popover-content">
                    <p>{{ longText }}</p>
                  </ion-content>
                </ng-template>
              </ion-popover>
          
            <!-- Botones alineados y centrados dentro del ion-card -->
            <div class="card-actions">
              <ion-button fill="solid" color="danger" class="card-button">Anular</ion-button>
              <ion-button fill="solid" color="warning" class="card-button">Ver más</ion-button>
              <ion-button fill="solid" color="success" class="card-button">Finalizada</ion-button>
            </div>
          </ion-card>
        </ion-col>
        <ion-col size="6" size-md="4" size-lg="2">
          <ion-card>
            <ion-card-header class="card-header">
              <ion-card-title class="card-title">🐶 Mascota: Lola</ion-card-title>
              <ion-card-subtitle class="card-subtitle">👤 Dueño: Dan Anitei</ion-card-subtitle>
            </ion-card-header>
          
          
            <ion-card-content>
              <p><strong>📅 Fecha:</strong> 28 de Febrero, 2025</p>
              <p><strong>⏰ Hora:</strong> 10:30 AM</p>
              <p><strong>🩺 Consulta:</strong> Intervención Quirúrgica</p>
              <p><strong>📌 Estado:</strong> Confirmada ✅</p>
              <p class="notes">
                <strong>📝 Notas:</strong>
                <span>{{ longText | slice:0:50 }}...
                  <a id="ver-mas-trigger" class="see-more">Leer más</a>
                </span>
                
              </p>
            </ion-card-content>

            <!-- Popover que se activa al hacer clic en "Ver más" -->
              
          
            <!-- Botones alineados y centrados dentro del ion-card -->
            <div class="card-actions">
              <ion-button fill="solid" color="danger" class="card-button">Anular</ion-button>
              <ion-button fill="solid" color="warning" class="card-button">Ver más</ion-button>
              <ion-button fill="solid" color="success" class="card-button">Finalizada</ion-button>
            </div>
          </ion-card>
        </ion-col>
        <ion-col size="6" size-md="4" size-lg="2">
          <ion-card>
            <ion-card-header class="card-header">
              <ion-card-title class="card-title">🐶 Mascota: Lola</ion-card-title>
              <ion-card-subtitle class="card-subtitle">👤 Dueño: Dan Anitei</ion-card-subtitle>
            </ion-card-header>
          
          
            <ion-card-content>
              <p><strong>📅 Fecha:</strong> 28 de Febrero, 2025</p>
              <p><strong>⏰ Hora:</strong> 10:30 AM</p>
              <p><strong>🩺 Consulta:</strong> Intervención Quirúrgica</p>
              <p><strong>📌 Estado:</strong> Confirmada ✅</p>
              <p class="notes">
                <strong>📝 Notas:</strong>
                <span>{{ longText | slice:0:50 }}...
                  <a id="ver-mas-trigger" class="see-more">Leer más</a>
                </span>
                
              </p>
            </ion-card-content>

            <!-- Popover que se activa al hacer clic en "Ver más" -->
             
          
            <!-- Botones alineados y centrados dentro del ion-card -->
            <div class="card-actions">
              <ion-button fill="solid" color="danger" class="card-button">Anular</ion-button>
              <ion-button fill="solid" color="warning" class="card-button">Ver más</ion-button>
              <ion-button fill="solid" color="success" class="card-button">Finalizada</ion-button>
            </div>
          </ion-card>
        </ion-col>
        <ion-col size="6" size-md="4" size-lg="2">
          <ion-card>
            <ion-card-header class="card-header">
              <ion-card-title class="card-title">🐶 Mascota: Lola</ion-card-title>
              <ion-card-subtitle class="card-subtitle">👤 Dueño: Dan Anitei</ion-card-subtitle>
            </ion-card-header>
          
          
            <ion-card-content>
              <p><strong>📅 Fecha:</strong> 28 de Febrero, 2025</p>
              <p><strong>⏰ Hora:</strong> 10:30 AM</p>
              <p><strong>🩺 Consulta:</strong> Intervención Quirúrgica</p>
              <p><strong>📌 Estado:</strong> Confirmada ✅</p>
              <p class="notes">
                <strong>📝 Notas:</strong>
                <span>{{ longText | slice:0:50 }}...
                  <a id="ver-mas-trigger" class="see-more">Leer más</a>
                </span>
                
              </p>
            </ion-card-content>

            <!-- Popover que se activa al hacer clic en "Ver más" -->
              
          
            <!-- Botones alineados y centrados dentro del ion-card -->
            <div class="card-actions">
              <ion-button fill="solid" color="danger" class="card-button">Anular</ion-button>
              <ion-button fill="solid" color="warning" class="card-button">Ver más</ion-button>
              <ion-button fill="solid" color="success" class="card-button">Finalizada</ion-button>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!--Primer Grid-->

    <!--Segundo Grid-->
    <ion-grid >
      <ion-row class="ion-padding">
        <ion-col size="6" size-md="4" size-lg="2">
          <ion-card >  <!-- Reemplazar por @for -->
            <ion-card-header>
              <ion-card-title>Card Title</ion-card-title>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              Here's a small text description for the card content. Nothing more, nothing less.
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6" size-md="4" size-lg="2">
          <ion-card >
            <ion-card-header>
              <ion-card-title>Card Title</ion-card-title>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              Here's a small text description for the card content. Nothing more, nothing less.
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6" size-md="4" size-lg="2">3</ion-col>
        <ion-col size="6" size-md="4" size-lg="2">4</ion-col>
        <ion-col size="6" size-md="4" size-lg="2">5</ion-col>
        <ion-col size="6" size-md="4" size-lg="2">6</ion-col>
      </ion-row>
    </ion-grid>
    <!--Segundo Grid-->
</ion-content>
