<ion-header>
  <app-header titulo="Registro de Cliente"></app-header>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Registrar Nuevo Cliente</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="clienteForm">
        <ion-grid>
          <ion-row>
            <!-- 📌 Columna Izquierda: Datos del Cliente -->
            <ion-col size="6">
              <ion-input label="Nombre" label-placement="floating" fill="solid" formControlName="nombre"></ion-input>
              <br />
              <ion-input label="Apellido" label-placement="floating" fill="solid" formControlName="apellido"></ion-input>
              <br />
              <ion-input label="Correo Electrónico" label-placement="floating" fill="solid" type="email" formControlName="email"></ion-input>
              <br />
              <ion-input label="Teléfono" label-placement="floating" fill="solid" type="tel" formControlName="telefono"></ion-input>
              <br />
              <ion-input label="Dirección" label-placement="floating" fill="solid" formControlName="direccion"></ion-input>
            </ion-col>

            <!-- 📌 Columna Derecha: Primera Mascota -->
            <ion-col size="6">
              <ion-card>
                <ion-card-header>
                  <ion-card-title>Datos de la Mascota</ion-card-title>
                </ion-card-header>

                <ion-card-content>

                  
                </ion-card-content>
                <ion-button color="tertiary" fill="clear"(click)="abrirModalMascota()">
                  + Añadir Otra Mascota
                </ion-button>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>

        <!-- 📌 Botones Finales -->
        <ion-row>
          <ion-col>
            <ion-button fill="clear" color="success" (click)="abrirModalMascota()">Crear Cliente</ion-button>
            <ion-button fill="clear" color="medium" (click)="cancelar()">Cancelar</ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
