:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  ion-content {
    flex: 1;
    --padding-start: 16px;
    --padding-end: 16px;
    --padding-top: 16px;
    --padding-bottom: calc(env(safe-area-inset-bottom) + 16px);
  }

  /* Espacio entre campos para inputs y selects */
  ion-input,
  ion-select {
    margin-bottom: 24px;
  }
}
