<ion-content class="login-page">
  <!-- 1) Overlay semitransparente -->
  <div class="bg-overlay"></div>

  <!-- 2) Contenedor que sitúa la tarjeta sobre el overlay -->
  <div class="login-container">
    <div class="login-card">
      <img src="assets/logo/complete-logo.svg" alt="Logo" class="logo" />
      <ion-card-header>
        <ion-card-title>Iniciar Sesión</ion-card-title>
      </ion-card-header>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input formControlName="email" type="email"></ion-input>
          <div *ngIf="loginForm.get('email')?.touched" class="error-messages">
            <small *ngIf="loginForm.get('email')?.errors?.['required']">Email requerido</small>
            <small *ngIf="loginForm.get('email')?.errors?.['email']">Formato inválido</small>
          </div>
        </ion-item>


        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
          <div *ngIf="loginForm.get('password')?.touched" class="error-messages">
            <small *ngIf="loginForm.get('password')?.errors?.['required']">Contraseña requerida</small>
            <small *ngIf="loginForm.get('password')?.errors?.['minlength']">Mínimo 6 caracteres</small>
          </div>
        </ion-item> 
        <div class="btn-wrapper">
          
          <ion-button fill="outline" type="submit">Entrar</ion-button>
          
        </div>
        <div class="btn-wrapper">
          <ion-button
          color="danger"
          class="help-button"
          fill="clear "
          (click)="openSupportModal()"
        >
          Contactar Soporte
          
        </ion-button>
        
        </div>
      </form>
    </div>
  </div>
</ion-content>
